.admin {
  color: aliceblue;
  /* min-width: 100vw; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
}

.admin--container > .projects {
  min-height: 500px;
  margin-right: 100px;
  margin-right: 150px;
}

.admin--container {
  display: flex;
}
.admin--container > .project-add-form {
  display: grid;
}
.project-add-form input,
textarea,
select,
button {
  margin-bottom: 10px;
  display: grid;
}

@media screen and (max-width: 960px) {
  .admin--container {
    display: block;
  }
  .admin--container > .projects {
    display: block;
    min-height: unset;
    margin-bottom: 100px;
  }
}
