.about {
  color: #ffffff;
  display: flex;
  place-items: center;
  /* min-width: 100vw; */
  min-height: 100vh;
  background-color: rgb(35, 38, 58);
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.about--content {
  display: flex;
  background: rgb(35, 38, 58);
  /* width: 830px; */
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}

.about--presentation {
  margin-right: 65px;
}
.about--presentation p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align-last: left;
}
@media screen and (max-width: 960px) {
  .about--content {
    /* padding: 100px; */
    flex-direction: column;
    align-items: center;
  }
  .about--presentation {
    margin-right: unset;
  }
}
@media screen and (max-width: 640px) {
  .about--presentation > h1:nth-child(1) > span:nth-child(1) {
    margin-left: 90px;
    letter-spacing: 9px;
  }
}
