.nav {
  display: flex;
  justify-content: space-between;
  width: 830px;
  position: fixed;
  align-items: center;
}
.nav--container {
  height: 25px;
  justify-content: center;
  align-content: baseline;
  display: flex;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
